img {
  width: 100%;
  height: auto;
  display: block;
}

.season_grid_1,
.season_grid_2,
.season_grid_3,
.season_grid_4 {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the transparency (last value) as needed */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

/* Text or additional styling within the overlay */
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "source-serif-pro", serif;
  font-weight: 200;
  font-style: italic;
  font-size: 2rem;
}

.image-container:hover .overlay {
  opacity: 1;
}

h1 {
  font-family: "alternate-gothic-extra-cond", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20rem;
}

.explore {
  font-family: "source-serif-pro", serif;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin: 5rem 0;
  font-size: 2rem;
}

.sourceserif {
  font-family: "source-serif-pro", serif;
  font-weight: 350;
  font-style: italic;
}

.experience {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.inter {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  padding-left: 3rem;
}

.season_grid_1 {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.season_grid_2 {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.lilletekst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  font-family: "ibm-plex-mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4rem;
  padding-bottom: 10%;
  padding-left: 2%;
  padding-right: 4%;
  margin-top: -3rem;
}

hr {
  margin: 2rem auto;
  border: 0.5px #000 solid;
}

.lilletekst a {
  color: #000;
}

.lilletekst > :nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.stortekst h1 {
  font-size: 30vw;
  margin-bottom: 3rem;
}

.rotatetext {
  writing-mode: vertical-rl;
  text-align: center;
  font-family: "source-serif-pro", serif;
  font-weight: 200;
  font-style: italic;
  font-size: 2rem;
  margin: 0;
}

.seasondescription {
  margin: 5rem 0;
  font-family: "source-serif-pro", serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

.getintouch {
  font-family: "source-serif-pro", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
  margin-top: 3rem;
}

.interested {
  font-family: "source-serif-pro", serif;
  font-weight: 400;
  font-style: normal;
  margin: 1rem 0;
}

.contactform {
  line-height: 1.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
}

input {
  border: none;
  border-bottom: 1px #000 solid;
  background-color: #e8e7de;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  background-color: #e8e7de;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #000;
}

input[type="submit"] {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  text-decoration: underline;
}

textarea {
  background-color: #e8e7de;
  border: 1px #000 solid;
}

.footertext {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 5rem;
  text-align: center;
}

@media (min-width: 800px) {
  .season_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 80%;
    margin: 4rem auto;
  }

  .season_grid_2 {
    order: -1;
    display: block;
  }

  hr {
    width: 80%;
  }

  .getintouch,
  .interested {
    width: 80%;
    margin: 9px auto;
    padding-left: 5%;
  }

  .form_left {
    display: grid;
    width: 70%;
    margin: 0 auto;
    line-height: 2.8rem;
  }

  .form_right {
    display: grid;
    width: 70%;
    margin: 0 auto;
    line-height: 2.8rem;
  }

  .contactform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 55%;
    margin: 3rem auto;
  }

  input[type="submit"] {
    margin-top: 4rem;
    grid-template-columns: 1fr;
    text-align: right;
    margin-bottom: 4rem;
  }
  .stortekst h1 {
    margin-bottom: 0;
  }
}

.Arrow {
  width: 15%;
  float: right;
  padding: 3%;
}
