.overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
  margin-top: 3rem;
}

.mushroom_grid_item {
  transition: transform 0.3s ease-in-out;
}

.mushroom_grid_item:hover {
  transform: scale(1.1);
}

.produktliste_main h3 {
  margin-top: 5rem;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
}

hr {
  margin: 2rem auto;
  border: 0.5px #000 solid;
}

.areas {
  text-align: center;
  font-family: "source-serif-pro", serif;
  font-weight: 200;
  font-style: italic;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.season {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  text-transform: uppercase;
}

.mushroom_grid_item p {
  color: #838488 !important;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 200;
  word-wrap: break-word;
  padding-bottom: 2%;
}

.mushroom_grid_item h5 {
  color: #000;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 200;
  word-wrap: break-word;
  padding-bottom: 2%;
}

@media (min-width: 800px) {
  .produktliste_main {
    max-width: 80%;
    margin: 5rem auto;
  }

  hr {
    width: 80%;
  }
}

.pil {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

h4 {
  color: black;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  text-transform: uppercase;
  padding-bottom: 5%;
  padding-top: 7%;
}

.mushroom_grid_item a {
  color: #838488 !important;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-decoration: none;
  word-wrap: break-word;
}

.readmore {
  text-decoration: underline;
  color: #838488;
}

.footertext {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 5rem;
  text-align: center;
}
